a.sectionLink {
    color: var(--chakra-colors-gray-600);
    padding: 8px;
    display: inline-block;
}

a.sectionLinkActive {
    font-weight: 600;
    color: var(--color-600);
    border-bottom: 4px solid var(--color-600);
}

a.scrollTo {
    scroll-margin-top: 195px;
}

.profileBody {
    background-color: var(--color-50);
    color: var(--color-900);
    margin-inline: 1rem;
    padding-inline: 1rem;
    padding-block-start: 1rem;
    padding-block-end: 4rem;
}

.profileBody > section {
    max-width: 30rem;
    margin-inline: auto;
    padding-block-end: 1rem;
}

@media only screen and (min-width: 56em) {
    .profileBody {
        margin-inline: 0;
    }
}

h1.heading {
    color: var(--color-900);
}

.tagline {
    color: var(--color-900);
    font-size: 0.8rem;
}

div.socialIcons {
    color: var(--color-500);
    height: fit-content;
    margin-top: 0.2rem;
}

div.socialIcons a:hover {
    color: var(--color-800);
}

button.contactButton {
    background: var(--color-500);
    color: white;
}

button.contactButton:hover, button.contactButton:active, button.contactButton:focus {
    background: var(--color-600);
    color: white;
}

button.contactSubmitButton {
    background: var(--color-500);
    color: white;
}

button.contactSubmitButton:hover, button.contactSubmitButton:active, button.contactSubmitButton:focus {
    background: var(--color-600);
    color: white;
}
